html, body, #app{
    margin:0;
    height: 100%;
}
body{
    background-image: url('../img/quiz/background.png');
    color:#fff3cc;
    text-align: center;
    font-family: "Font";
}

#app{
    display:flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.btn-start{
    width: 20rem;
    outline: none;
}

.bubble-text{
    color:#fff3cc;
    font-size: 20pt;
}

.bubble-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.propositions{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.bubble-container{
    background-size: cover;
    background-position: center;
}


@font-face {
    font-family: "Font";
    src: url("../assets/font.otf");
}
/*Extra small devices (portrait phones, less than 576px)*/

@media (max-width: 575.98px) {
    .bubble-container{
        height:20vh;
        width:20vw;
        position:relative;
    }
    .bubble-text{
        max-width:60%;
        max-height:40%;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .bubble-container{
        height:270px;
        width:550px;
        max-width:100% !important;
        position:relative;
    }
    .bubble-text{
        max-width:20%;
        max-height:70%;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .bubble-container{
        height: 270px;
        width:550px;
    }
    .bubble-text{
        max-width:25%;
        max-height:30%;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    .bubble-container{
        height:150px;
        width:300px;
    }
    .bubble-text{
        max-width:60%;
        max-height:45%;
    }
    .welcome-text{
        font-size:4.5rem;
    }
    .instructions-text{
        font-size:3.5rem;
    }
    .users-title{
        font-size:2.5rem;
    }
    .participants{
        font-size:2rem;
    }
    .ranking-title{
        font-size:4.5rem;
    }
    .ranked-user{
        font-size: 3.5rem;
    }
    .question-title{
        font-size: 3.5rem;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .bubble-container{
        height:190px;
        width:350px;
    }
    .bubble-text{
        max-width:70%;
        max-height:70%;
    }
}

@media (orientation: portrait){
    .propositions{
        flex-direction: column;
    }
}

@media (orientation: landscape){
    .propositions{
        flex-direction: row;
    }
}