body{
    background-image: url('../img/quiz/background.png');
    color:#fff3cc;
    text-align: center;
}
.hcenter{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0 -50% 0 0;
    transform: translate(-50%,-50%);
}
.btn-start{
    width: 20vw;
}